# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. pandas
3. scikit-learn
4. TensorFlow
5. PyTorch

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
result = (3 * 4) + 5
print(result)

17

#### This is a simple arithmetic expression to multiply then add integers.

In [6]:
result = 200 / 60
print(result)

3.3333333333333335

#### This will convert 200 minutes to hours by diving by 60

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Introduce popular development environment tools for Data Science.
- Perform basic arithmetic operations in a code cell.
- Understand Markdown formatting in Jupyter Notebooks.

## Author

Xuan Phuc